body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

/* The animation code */
@keyframes changeColor {
  0%   {border:10px solid yellow;}
  25%  {border:10px solid green;}
  50%  {border:10px solid blue;}
  75%  {border:10px solid green;}
  100% {border:10px solid yellow;}
}

.yellow{
  border:10px solid yellow;
  border-radius:10px;
  position:absolute;
  animation-name: changeColor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.growing {
  background: url(https://thumbs.gfycat.com/SadEmptyFinch-max-1mb.gif) no-repeat center center/cover;
  height:200px;
  width:200px;
  border: none;
  position:absolute;
  animation-name: growing;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes growing {
  0%   {height:200px; width:200px}
  25%  {height:300px; width:300px}
  50%  {height:200px; width:200px}
  75%  {height:150px; width:150px}
  100% {height:200px; width:200px}
}
